.container{
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 2rem;
    row-gap: 2rem;
    color: black;
    
}
.carta{
      background-color: #f9fafb;
     width: 450px;
    height: 125px;
     box-shadow: 2px 5px 15px black;
    padding: 6px;
 font-size: 25px;
    text-align: center;
    color: black;
     
}






.agregar:hover{
    color: white;
}

.boton-editar, .boton-eliminar{
    cursor: pointer;
}



.agregar{
   border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    background-color: #ffcd39;
    text-align: center;
    width: 250px;
    height: 55px;
     padding: 6px;
     color: white;
       box-shadow: 2px 5px 10px black;
}


.mi-button{
    padding: 0px;
    margin: 0px;
    border: none;
    outline: none;
    background-color: transparent;
}


.modal-content{
    background-color: #ce5250;
}