body{
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    
}

.mi-card{
    background-color: #f9fafb;
    text-align: center;
    padding: 6px;
    color: black;
    width: 450px;
    height: 125px;
     box-shadow: 2px 5px 10px black;
   
}

.mi-button{
    padding: 0px;
    margin: 0px;
    border: none;
    outline: none;
    background-color: transparent;
    
}

.lista-equipos-rivales{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
}

#lista-mis-Equipos{
   display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px; 
 
    
}

#container-temporadas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    
}

.card-agregar{
   border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    background-color: #ffcd39;
    text-align: center;
    width: 250px;
    height: 55px;
     padding: 6px;
     color: white;
       box-shadow: 2px 5px 10px black;
}

 
    
   
   



.botones{
    text-align: end;
}

.botones a{
    text-decoration: none;
}

.hola{
    color: black;
}
