.body{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  
}
.imagen-contenedor {
    max-width: 100%; /* Ajusta el ancho máximo */
    height: auto; /* Mantiene la proporción de aspecto original */
    max-height: 200px; /* Establece la altura máxima (ajusta según tus necesidades) */
}
.col-md-3{
    color:#801F1F;
}
.logo {
 height:140px;
 width: 140px;
 object-fit: contain;
 max-width: 80%; /* Ajusta el tamaño del logo al 80% del ancho de la columna */
    height: auto; /* Mantiene la proporción de aspecto */
    display: block; /* Centra la imagen horizontalmente en la columna */
    margin: 0 auto;
    margin-left: 100px;
}

.logout-button {
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
    font-size: 16px;
}

.logout-button i {
    margin-right: 8px; /* Espacio entre el ícono y el texto */
}

#logout-icon {
    font-size: 24px; /* Cambia el tamaño del ícono a 24px */
    color: #801F1F; /* Cambia el color a rojo (#FF0000) */
}