body{
    overflow-x: hidden;
}

.separator {
    border: 0;
    border-top: 3px solid #D0D0D0; 
    width: 1300px; 
    margin: 0 auto; 
}
.card img {
    max-width: 100%;
    padding: 10px 10px;
    border-radius: 10px;
}

.card-title{
    font-family: 'Alfa Slab One', serif;
    color:#5B5B5B;
}
.card-text {
    font-size: 15px;
}

.btn-custom {
    background-color: #007BFF;
    color: #fff;
}
.card-image {
    width: 20px; /* Establece el ancho deseado de la imagen */
    height: 20px; /* Establece la altura deseada de la imagen */
    object-fit: cover; /* Escala y recorta la imagen para que encaje en el contenedor */
}